<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Вход</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Войти</button>
        </form>
        <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйтесь</a>.</p>
        <p><a href="{% url 'home' %}">На главную</a></p>
    </div>
</body>
</html>